*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --soft-pink: rebeccapurple;
    --text-color:white;   

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--text-color);
    background-color: white;
    overflow: hidden;
}

.main{
    position: relative;
}

.lower-container{
    position: absolute;
    width: 350px;
    height: 400px;
    background-color: #FAF8F9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: black;
    overflow: hidden;
}

.close{
    color: red;
    font-size: 19px;
    position: absolute;
    right: 5px;
    top: 2px;
    transition: .5 all ease;
}

.close:hover{
    color: black;
}

.lower-container h1{
    margin-bottom: 20px;
}

img{
    width: 200px;
}

.lower-container p{
    padding: 10px 20px;
    background-color: rebeccapurple;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
}

.lower-header{
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.container{
    position: relative;
    width: 350px;
    height: 400px;
    background: linear-gradient(to bottom, var(--soft-pink) 50%, white) 50%;
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 5px white;
    overflow: hidden;
    transition: 2s all ease;
}


.active{
    transform: translate(350px, 200px);
}

.circle{
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -30px;
    right: -35px;
}

.container-header{
    margin-bottom: 20px;
}

.qSection{
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

.selection{
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    color: black;
    border: 1px solid transparent;
}

.selection:hover {
    background-color: rebeccapurple;
    color: white;
    border: 1px solid white;
}

.botPara{
    text-align: justify;
    margin-bottom: 15px;    
    color: black
}